<phpunit bootstrap="/Volumes/Media/_git/sr_modxrenderer/vendor/autoload.php">
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">/Volumes/Media/_git/sr_modxrenderer/src</directory>
      </whitelist>
    </filter>
    <logging>
      <log type="coverage-html" target="/Volumes/Media/_git/sr_modxrenderer/docs/test-results" lowUpperBound="35"
           highLowerBound="70"/>
    </logging>
</phpunit>
